:root {
  --m3u8-nav-height: 64px;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  --primary-color: #1890ff;
  --hover-color: #40a9ff;
  --active-color: #096dd9;
  --outline-color: rgba(24, 144, 255, .2);
}
