:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 4px 15px;
  background-color: #1890ff;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 2px #0000000b;
  white-space: nowrap;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  outline: 0;
  display: inline-block;
  height: 32px;
}
button:hover {
  border-color: #40a9ff;
  background-color: #40a9ff;
}
